.Products {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 10px 10px;
}

.Receipt {
  background-color: #fff;
  text-align: center;
  margin-top: 10px;
  max-width: 100%;
  font-size: 18px;
  padding: 15px 15px 30px;
}

.ReceiptItem {
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: grid;
  grid-gap: 10px 0;
  font-size: 18px;
  grid-template-columns: 170px 45px 75px;
}

.ReceiptTotal {
  font-weight: 700;
  max-width: 300px;
  border-top: 1px solid #333;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.ReceiptMoney {
  color: #24c486;
  text-align: right;
}
