@import "~antd/dist/antd.css";

* {
  font-size: 16px;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.App {
  background: #f1f2f6;
  color: #333;
  text-align: center;
}

.Profile {
  background-color: white;
  font-size: 32px;
  background: #fff;
  padding: 30px 20px;
  margin-bottom: 10px;
  font-weight: 700;
  text-align: center;
  line-height: 1.3em;
}

.ProfileImage {
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 125px;
  height: 125px;
  margin: 10px auto 25px;
  border-radius: 125px;
}

.Content {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  color: #333;
}
